---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: unpackerr
spec:
  chartRef:
    kind: OCIRepository
    name: unpackerr
  interval: 1h
  values:
    controllers:
      unpackerr:
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          app:
            image:
              repository: ghcr.io/unpackerr/unpackerr
              tag: 0.14.5
            env:
              TZ: America/New_York
              UN_LOG_FILE: ""
              UN_LOG_FILES: "0"
              UN_WEBSERVER_METRICS: "true"
            envFrom:
              - secretRef:
                  name: unpackerr-secret
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities: { drop: ["ALL"] }
            resources:
              requests:
                cpu: 50m
              limits:
                memory: 128Mi
    defaultPodOptions:
      securityContext:
        runAsNonRoot: true
        runAsUser: 65534
        runAsGroup: 65534
        fsGroup: 65534
    persistence:
      media:
        type: nfs
        server: ${NFS_SERVER}
        path: /volume1/media
        globalMounts:
          - path: /data/media
