---
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: gatus
spec:
  interval: 1h
  path: ./kubernetes/apps/monitoring/gatus/app
  postBuild:
    substituteFrom:
      - name: cluster-secrets
        kind: Secret
      - name: gatus-secret
        kind: Secret
        optional: true
  prune: true
  sourceRef:
    kind: GitRepository
    name: flux-system
    namespace: flux-system
  targetNamespace: monitoring
  wait: false
