---
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: sabnzbd
spec:
  refreshInterval: 1h
  secretStoreRef:
    kind: ClusterSecretStore
    name: onepassword-store
  target:
    name: sabnzbd-secret
    template:
      data:
        SABNZBD__API_KEY: "{{ .api_key }}"
        SABNZBD__NZB_KEY: "{{ .nzb_key }}"
  dataFrom:
    - extract:
        key: sabnzbd
