---
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: tailscale-operator
spec:
  interval: 1h
  path: ./kubernetes/apps/network/tailscale-operator/app
  postBuild:
    substituteFrom:
      - name: cluster-secrets
        kind: Secret
  prune: true
  sourceRef:
    kind: GitRepository
    name: flux-system
    namespace: flux-system
  targetNamespace: network
  wait: true
  healthChecks:
    - apiVersion: apps/v1
      kind: Deployment
      name: tailscale-operator
      namespace: network
