---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: grafana
spec:
  chartRef:
    kind: OCIRepository
    name: grafana
  interval: 1h
  values:
    replicas: 1
    deploymentStrategy:
      type: Recreate

    podAnnotations:
      reloader.stakater.com/auto: "true"

    admin:
      existingSecret: grafana-secret
      passwordKey: admin_password

    envFromSecret: grafana-secret

    grafana.ini:
      server:
        root_url: "https://grafana.${SECRET_DOMAIN}"
      analytics:
        check_for_updates: false
        check_for_plugin_updates: false
        reporting_enabled: false
      news:
        news_feed_enabled: false
      auth.generic_oauth:
        enabled: true
        name: Authentik
        allow_sign_up: true
        client_id: $__env{OIDC_CLIENT_ID}
        client_secret: $__env{OIDC_CLIENT_SECRET}
        scopes: openid email profile
        auth_url: https://auth.thegeekybits.com/application/o/authorize/
        token_url: https://auth.thegeekybits.com/application/o/token/
        api_url: https://auth.thegeekybits.com/application/o/userinfo
        role_attribute_path: contains(groups[*], 'tier1') && 'Admin' || contains(groups[*], 'tier2') && 'Editor' || 'Viewer'
        role_attribute_strict: false

    persistence:
      enabled: true
      type: pvc
      storageClassName: longhorn
      accessModes:
        - ReadWriteOnce
      size: 1Gi

    sidecar:
      dashboards:
        enabled: true
        searchNamespace: ALL
        labelValue: ""
      datasources:
        enabled: true
        searchNamespace: ALL
