---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: kms
spec:
  chartRef:
    kind: OCIRepository
    name: kms
  interval: 1h
  values:
    controllers:
      kms:
        containers:
          app:
            image:
              repository: mikolatero/vlmcsd
              tag: latest
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities: { drop: ["ALL"] }
            resources:
              requests:
                cpu: 5m
              limits:
                memory: 16Mi
    defaultPodOptions:
      securityContext:
        runAsNonRoot: true
        runAsUser: 65534
        runAsGroup: 65534
    service:
      app:
        type: LoadBalancer
        controller: kms
        ports:
          kms:
            port: 1688
            protocol: TCP
