---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - ./helmrelease.yaml
  - ./ocirepository.yaml
  - ./secret.sops.yaml
  - ./httproute.yaml
  - ./receiver.yaml

components:
  - ../../../../components/public-access

replacements:
  - source:
      kind: HTTPRoute
      name: github-webhook
      fieldPath: metadata.name
    targets:
      - select:
          kind: SecurityPolicy
        fieldPaths:
          - spec.targetRefs.0.name
          - metadata.name
        options:
          delimiter: '-'
          index: 0
