---
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: qbittorrent
spec:
  refreshInterval: 1h
  secretStoreRef:
    kind: ClusterSecretStore
    name: onepassword-store
  target:
    name: qbittorrent-secret
    template:
      data:
        VPN_SERVICE_PROVIDER: "{{ .vpn_provider }}"
        VPN_TYPE: "{{ .vpn_type }}"
        WIREGUARD_PRIVATE_KEY: "{{ .vpn_private_key }}"
        WIREGUARD_ADDRESSES: "{{ .vpn_addresses }}"
        SERVER_COUNTRIES: "{{ .vpn_server_countries }}"
  dataFrom:
    - extract:
        key: qbittorrent
