---
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: recyclarr
spec:
  refreshInterval: 1h
  secretStoreRef:
    kind: ClusterSecretStore
    name: onepassword-store
  target:
    name: recyclarr-secret
    template:
      data:
        SONARR_API_KEY: "{{ .sonarr_api_key }}"
        RADARR_API_KEY: "{{ .radarr_api_key }}"
        RADARR_4K_API_KEY: "{{ .radarr_4k_api_key }}"
  dataFrom:
    - extract:
        key: recyclarr
