---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: authentik
spec:
  chart:
    spec:
      chart: authentik
      version: 2025.12.3
      sourceRef:
        kind: HelmRepository
        name: authentik
  interval: 1h
  timeout: 15m
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  valuesFrom:
    - kind: Secret
      name: authentik-secret
      valuesKey: AUTHENTIK_SECRET_KEY
      targetPath: authentik.secret_key
    - kind: Secret
      name: authentik-secret
      valuesKey: AUTHENTIK_DB_PASSWORD
      targetPath: authentik.postgresql.password
    - kind: Secret
      name: authentik-secret
      valuesKey: AUTHENTIK_DB_PASSWORD
      targetPath: postgresql.auth.password
    - kind: Secret
      name: authentik-secret
      valuesKey: SMTP_USERNAME
      targetPath: authentik.email.username
    - kind: Secret
      name: authentik-secret
      valuesKey: SMTP_PASSWORD
      targetPath: authentik.email.password
    # - kind: Secret
    #   name: authentik-secret
    #   valuesKey: AUTHENTIK_DB_PASSWORD
    #   targetPath: postgresql.auth.postgresPassword
  values:
    # Authentik Global Configurations
    global:
      deploymentAnnotations:
        reloader.stakater.com/auto: "true"

    # Authentik Core Configuration
    authentik:
      log_level: info
      email:
        host: "smtp.mail.me.com"
        port: 587
        use_tls: true
        use_ssl: false
        timeout: 30
        from: admin@thegeekybits.com

    # Authentik Server Configuration
    server:
      replicas: 2
      annotations:
        reloader.stakater.com/auto: "true"
      route:
        main:
          enabled: true
          hostnames:
            - "{{ .Release.Name }}.${SECRET_DOMAIN}"
            - auth.${SECRET_DOMAIN}
          parentRefs:
            - name: envoy-internal
              namespace: network
              sectionName: https
          https: true

    # Authentik Worker Configuration
    worker:
      replicas: 1
      annotations:
        reloader.stakater.com/auto: "true"

    # PostgreSQL Database Configuration
    postgresql:
      enabled: true
      auth:
        username: authentik
        database: authentik
      primary:
        persistence:
          enabled: true
          storageClass: longhorn
          size: 25Gi
          accessModes:
            - ReadWriteOnce

    # # Redis Cache Configuration - should be deprecated and not required
    # redis:
    #   enabled: true
    #   auth:
    #     enabled: false
    #   master:
    #     persistence:
    #       enabled: true
    #       storageClass: longhorn
    #       size: 5Gi
