---
# Expose Authentik externally for user login
# This route is public (no forward-auth) as it IS the auth provider
apiVersion: gateway.networking.k8s.io/v1
kind: HTTPRoute
metadata:
  name: authentik-external
  namespace: security
spec:
  hostnames:
    - auth.${SECRET_DOMAIN}
  parentRefs:
    - name: envoy-external
      namespace: network
      sectionName: https
  rules:
    - backendRefs:
        - name: authentik-server
          port: 80
