---
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: n8n
spec:
  refreshInterval: 1h
  secretStoreRef:
    kind: ClusterSecretStore
    name: onepassword-store
  target:
    name: n8n-secret
    template:
      data:
        DB_POSTGRESDB_PASSWORD: "{{ .db_password }}"
        N8N_ENCRYPTION_KEY: "{{ .encryption_key }}"
        POSTGRES_PASSWORD: "{{ .db_password }}"
  dataFrom:
    - extract:
        key: n8n
