---
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: plex
spec:
  refreshInterval: 1h
  secretStoreRef:
    kind: ClusterSecretStore
    name: onepassword-store
  target:
    name: plex-secret
    template:
      data:
        PLEX_CLAIM: "{{ .plex_claim }}"
  dataFrom:
    - extract:
        key: plex
