---
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: tailscale-gateway
spec:
  dependsOn:
    - name: tailscale-operator
  interval: 1h
  path: ./kubernetes/apps/network/tailscale-gateway/app
  prune: true
  sourceRef:
    kind: GitRepository
    name: flux-system
    namespace: flux-system
  wait: false
