---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: autoscan
spec:
  chartRef:
    kind: OCIRepository
    name: autoscan
  interval: 1h
  values:
    controllers:
      autoscan:
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          app:
            image:
              repository: ghcr.io/hotio/autoscan
              tag: release-1.4.0
            env:
              TZ: America/New_York
            envFrom:
              - secretRef:
                  name: autoscan-secret
            probes:
              liveness: &probes
                enabled: true
                custom: true
                spec:
                  httpGet:
                    path: /health
                    port: &port 3030
                  initialDelaySeconds: 0
                  periodSeconds: 10
                  timeoutSeconds: 1
                  failureThreshold: 3
              readiness: *probes
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: false
              capabilities: { drop: ["ALL"] }
            resources:
              requests:
                cpu: 10m
              limits:
                memory: 64Mi
    defaultPodOptions:
      securityContext:
        runAsNonRoot: true
        runAsUser: 65534
        runAsGroup: 65534
        fsGroup: 65534
    service:
      app:
        controller: autoscan
        ports:
          http:
            port: *port
    persistence:
      config:
        type: persistentVolumeClaim
        storageClass: longhorn
        accessMode: ReadWriteOnce
        size: 256Mi
        globalMounts:
          - path: /config
      config-file:
        type: configMap
        name: autoscan-config
        globalMounts:
          - path: /config/config.yml
            subPath: config.yml
            readOnly: true
