---
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: tailscale-operator
spec:
  refreshInterval: 1h
  secretStoreRef:
    kind: ClusterSecretStore
    name: onepassword-store
  target:
    name: operator-oauth
    template:
      data:
        client_id: "{{ .oauth_client_id }}"
        client_secret: "{{ .oauth_client_secret }}"
  dataFrom:
    - extract:
        key: tailscale-operator
