---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: tailscale-operator
spec:
  chart:
    spec:
      chart: tailscale-operator
      version: 1.94.2
      sourceRef:
        kind: HelmRepository
        name: tailscale
  interval: 1h
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  values:
    operatorConfig:
      defaultTags:
        - tag:k8s
