---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - ./helmrelease.yaml
  - ./ocirepository.yaml
  - ./httproute-external.yaml

components:
  - ../../../../components/public-access

replacements:
  - source:
      kind: HTTPRoute
      name: echo-external
      fieldPath: metadata.name
    targets:
      - select:
          kind: SecurityPolicy
        fieldPaths:
          - spec.targetRefs.0.name
          - metadata.name
        options:
          delimiter: '-'
          index: 0
