---
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: radarr-4k
spec:
  refreshInterval: 1h
  secretStoreRef:
    kind: ClusterSecretStore
    name: onepassword-store
  target:
    name: radarr-4k-secret
    template:
      data:
        RADARR__AUTH__APIKEY: "{{ .api_key }}"
  dataFrom:
    - extract:
        key: radarr-4k
