---
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: zipline
spec:
  refreshInterval: 1h
  secretStoreRef:
    kind: ClusterSecretStore
    name: onepassword-store
  target:
    name: zipline-secret
    template:
      data:
        CORE_SECRET: "{{ .core_secret }}"
        DATABASE_URL: "postgresql://zipline:{{ .db_password }}@zipline-postgresql:5432/zipline"
        POSTGRES_PASSWORD: "{{ .db_password }}"
  dataFrom:
    - extract:
        key: zipline
