---
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: shlink
spec:
  refreshInterval: 1h
  secretStoreRef:
    kind: ClusterSecretStore
    name: onepassword-store
  target:
    name: shlink-secret
    template:
      data:
        DB_PASSWORD: "{{ .db_password }}"
        INITIAL_API_KEY: "{{ .initial_api_key }}"
        GEOLITE_LICENSE_KEY: "{{ .geolite_license_key }}"
        DATABASE_URL: "postgresql://shlink:{{ .db_password }}@shlink-postgresql:5432/shlink"
        POSTGRES_PASSWORD: "{{ .db_password }}"
  dataFrom:
    - extract:
        key: shlink
